* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Retina,Arial,Helvetica,sans-serif;
}

body {
    width: 100%;
}

header {
    position: sticky;
    top: -5.2rem;
}

a {
    text-decoration-line: none;
}

#topBlack, #bottomGrey {
    padding: 1.5rem 5rem;
    font-size: 1.5rem;
}

#topBlack {
    background: black;
    color: white;
}

#topBlack a {
    color: white;
}

#topBlack a:first-child {
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

li, #firstLeft, #secondRight, .picture, .text, .source {
    display: inline-block;
}

#topBlack ul {
    float: right;
}

#topBlack li {
    margin-left: 3rem;
}

#topBlack button {
    padding: 0.5rem 1rem;
}

#bottomGrey {
    background: #333333;
}

.textGrey, .textGrey a {
    color: grey;
}

#secondRight .textGrey {
    margin-top: 1rem;
}

#firstLeft .textGrey {
    margin-bottom: 1rem;
}

#bottomGrey a {
    font-weight: bold;
}

#bottomGrey li {
    margin: 0 10rem 0 1.5rem;
}

#firstLeft, h1 {
    padding: 1rem 3rem;
}

#firstLeft {
    width: 63%;
}

h1, h2 {
    font-weight: 900;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2rem;
}

.dontMiss, .onTop {
    margin-bottom: 3rem;
}

.picture {
    width: 59.5%;
}

.text {
    width: 40%;
    vertical-align: top;
}

#secondRight {
    width: 36%;
    margin-top: 3rem;
    vertical-align: top;
}

#topRight {
    font-weight: bold;
}

i {
    margin-right: .5rem;
}

#secondRight .picture {
    width: 42%;
}

#secondRight h3 {
    font-size: 1.5rem;
}

.timeLeft {
    margin-top: 1rem;
}

#secondRight section {
    margin-bottom: 10rem;
}